<nav class="navbar navbar-expand-sm fixed-top bg-dark navbar-dark">
  <div class="container">
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="/" class="navbar-brand">
      <img src="/assets/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt=""> Geography Live
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#hone" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#aboutus" class="nav-link">About Us</a>
        </li>
        <li class="nav-item">
          <a href="#documentation" class="nav-link">Documentation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<header>
  <div class="dark-overlay">
    <div class="home-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-8 m-auto text-center">
            <h1 class="text-light">Live search for countries</h1>
            <h5 class="text-light mb-4">Type and retrieve statistics, demographic data and relevant information of each country.</h5>
            <app-search></app-search>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
