@import '../../../assets/styles/variables'

.navbar
  background: transparent !important

header
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%)
  margin: auto
  height: 160px
  padding-top: 60px

