@import '../../../assets/styles/variables'

header
  background: url("../../../assets/images/bg_header.jpg") fixed no-repeat center bottom
  background-size: cover
  margin: auto
  height: 400px
  padding-top: 150px
  border-bottom: 1px solid $primaryColor
  .dark-overlay
    background: rgba(0, 0, 0, 0.4)
    position: absolute
    top: 0
    left: 0
    height: 400px
    width: 100%
  .home-inner
    padding-top: 100px

.navbar
  border-bottom: 1px solid $headerColor
  opacity: 0.9
  box-shadow: 1px 8px 16px rgba(0, 0, 0, 0.5)
