/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  color: white;
  background-color: #22292C;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.stars, .stars-lg {
  position: absolute;
  z-index: -1;
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
  top: 0;
  transform-origin: center;
  background: url("./assets/images/stars-sm.svg") center/800px auto repeat;
  animation: 1000s rotate360 infinite linear;
}

.stars-lg {
  opacity: 0.2;
  background: url("./assets/images/stars-lg.svg") center/1100px auto repeat;
  animation: 10s pulse infinite linear
}

@keyframes shooting-star {
  0% {
    opacity: 1;
    transform: scale(0) translate3d(0, 0, 0)
  }

  15% {
    opacity: 1
  }

  25% {
    opacity: 0;
    transform: scale(1) translate3d(180px, 0, 0)
  }

  100% {
    opacity: 0;
    transform: scale(0) translate3d(180px, 0, 0)
  }
}

.shooting-star {
  position: absolute;
  left: 10%;
  top: 10%;
  transform: rotate(45deg);
  pointer-events: none
}

.shooting-star img {
  opacity: 0;
  animation-delay: 0;
  animation: shooting-star 3s infinite ease-out;
  width: 250px;
}
